/* GROUP: Main Document Styles */
.wm_enumera  .wmapproot {
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	font-size: 15px;
	color: #000000;
/* 	font-weight: bold; // THEMER: DISABLED */
}
.wm_enumera .wmapproot > .wmpagecontainer,
.wm_enumera.wmapproot > .wmpagecontainer,
.wm_enumera #studio_designer > .wmlayout {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
	box-shadow: 4px 4px 4px black;
	-webkit-box-shadow: 4px 4px 4px black;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .wm_enumera div,
.dj_ie9 .wm_enumera input,
.dj_ie9 .wm_enumera button {
   border-radius: 0px !important; /* THEMER: HIDE */
}