html.WMApp body .MenuButton {

}

html.WMApp body .labelTitolo {
font-size: 20px;

}



html.WMApp body .buttonMenu {
background-color: #2780e3;

}
html.WMApp body .buttonDelete {
    background-color: red;
}







html.WMApp body .buttonBack {
background-image: linear-gradient(rgb(153, 84, 187), rgb(153, 84, 187) 60%, rgb(153, 84, 187));
}


