html.WMApp body .MenuButton {

}

html.WMApp body .labelTitolo {
font-size: 20px;
text-align: left;

}





html.WMApp body .buttonMenu {
background-color: #2780e3;

}
html.WMApp body .buttonDelete {
    background-color: rgb(157, 14, 39);
    color: #ffffff;
}










html.WMApp body .buttonBack {
background-color: rgb(153, 84, 187);
}




