/* GROUP: Toast Dialog */
html.WMApp .wm_enumera div.wmtoast.wmtoastExtraSpecific {
	background-color: rgb(40, 40, 40);
	background-image: none;
	filter: none;

	border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0px 0px 0px #222;
	-webkit-box-shadow: 0px 0px 0px #222;
}
.wm_enumera .wmtoast .wmtoastmessage {
    font-family: sans-serif;
	font-size: 15px;
	color: #ffffff;
    font-weight: bold;
}

/* GROUP: Success Styling */
html.WMApp .wm_enumera div.wmtoast.Success.wmtoastExtraSpecific {
	background-color: #3fb618;
	background-image: none;
	filter: none;
}
.wm_enumera .wmtoast .wmtoasttitle,
.wm_enumera .wmtoast.Success .wmtoastmessage {
	color: #ffffff;
}


/* GROUP: Success Graphic */
.wm_enumera .wmtoast.Success .ToastLeft {
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* GROUP: Warning Styling */
html.WMApp .wm_enumera div.wmtoast.Warning.wmtoastExtraSpecific {
	background-color: #ff7518;
	background-image: none;
	filter: none;
}
.wm_enumera .wmtoast .wmtoasttitle,
.wm_enumera .wmtoast.Warning .wmtoastmessage {
	color: #ffffff;
}

/* GROUP: Warning Graphic */
.wm_enumera .wmtoast.Warning .ToastLeft {
/* 	background: url(images/Caution.png) 0% 0%; // THEMER: DISABLED */
}

/* GROUP: Error Styling */
html.WMApp .wm_enumera div.wmtoast.Error.wmtoastExtraSpecific {
	background-color: #ff0039;
	background-image: none;
	filter: none;
}
.wm_enumera .wmtoast .wmtoasttitle,
.wm_enumera .wmtoast.Error .wmtoastmessage {
	color: #ffffff;
}

/* GROUP: Error Graphic */
.wm_enumera .wmtoast.Error .ToastLeft {
/* 	background: url(images/Close.png) 0% 0%; // THEMER: DISABLED */
}

/* GROUP: Info Styling */
html.WMApp .wm_enumera div.wmtoast.Info.wmtoastExtraSpecific {
	background-color: #9954bb;
	background-image: none;
	filter: none;
}
.wm_enumera .wmtoast .wmtoasttitle,
.wm_enumera .wmtoast.Info .wmtoastmessage {
	color: #ffffff;
}

/* GROUP: Info Graphic */
.wm_enumera .wmtoast.Info .ToastLeft {
/* 	background: url(images/Help Circle.png) 0% 0%; // THEMER: DISABLED */
}

/* GROUP: Title */
.wm_enumera .wmtoast .wmtoasttitle {
/* 	font-family: sans-serif; // THEMER: DISABLED */
	font-size: 20px;
	color: #ffffff;
    font-weight: bold;
}

/* GROUP: Opacity */
.wmtoastExtraSpecific.fadeInAnim {
      -webkit-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      -moz-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
}

@keyframes toastFadeInKeyFrames {
   0% {
       opacity: 0; /* THEMER: HIDE */
   }
   100% {
       opacity: 0.9;
   }
 }

/* GROUP: Opacity again */
html.WMApp .wm_enumera div.wmtoast.wmtoastExtraSpecific {
opacity: 0.9;
}